div.bpel_correlationSets {
  display: none; }

div.bpel_correlationSet {
  display: none; }

div.bpel_documentation {
  display: none; }

div.bpel_extensions {
  display: none; }

div.bpel_condition {
  display: none; }

div.bpel_fromParts {
  display: none; }

div.bpel_toParts {
  display: none; }

div.bpel_import {
  display: none; }

div.bpel_links {
  display: none; }

div.bpel_sources {
  display: none; }

div.bpel_targets {
  display: none; }

div.bpel_joinCondition {
  display: none; }

div.bpel_messageExchanges {
  display: none; }

div.bpel_messageExchange {
  display: none; }

div.bpel_partnerLink {
  display: none; }

div.bpel_partnerLinks {
  display: none; }

div.bpel_variables {
  display: none; }

div.bpel_variable {
  display: none; }

div.bpel_for {
  display: none; }

div.bpel_until {
  display: none; }

div.bpel_repeatEvery {
  display: none; }

/* each basic and structured activity has this */
div.bpel_activity, div.bpel_basic_activity, div.bpel_assign, div.bpel_empty, div.bpel_compensate, div.bpel_compensateScope, div.bpel_exit, div.bpel_extensionActivity, div.bpel_invoke, div.bpel_receive, div.bpel_reply, div.bpel_rethrow, div.bpel_throw, div.bpel_validate, div.bpel_wait, div.bpel_structured_activity, div.bpel_eventHandlers, div.bpel_if, div.bpel_faultHandlers, div.bpel_forEach, div.bpel_catch, div.bpel_catchAll, div.bpel_flow, div.bpel_pick, div.bpel_onAlarm, div.bpel_onEvent, div.bpel_onMessage, div.bpel_process, div.bpel_repeatUntil, div.bpel_scope, div.bpel_sequence, div.bpel_while, div.bpel_if_child, div.bpel_if_then, div.bpel_if_elseif, div.bpel_if_else {
  /* center it within parent */
  margin-left: auto;
  margin-right: auto;
  /* 10px border */
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #7098b3;
  box-shadow: 5px 5px 17px #aaa;
  border-radius: 12px;
  background: #ffffff;
  cursor: standard;
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top, white 0%, #ebf2f7 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, white 0%, #ebf2f7 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, white 0%, #ebf2f7 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #ebf2f7));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, white 0%, #ebf2f7 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom, white 0%, #ebf2f7 100%); }

/* BPEL distinguishes between basic and structured activities */
div.bpel_basic_activity, div.bpel_assign, div.bpel_empty, div.bpel_compensate, div.bpel_compensateScope, div.bpel_exit, div.bpel_extensionActivity, div.bpel_invoke, div.bpel_receive, div.bpel_reply, div.bpel_rethrow, div.bpel_throw, div.bpel_validate, div.bpel_wait {
  width: 225px;
  height: 100px; }

div.bpel_assign:before {
  content: "<<assign>>"; }

div.bpel_empty:before {
  content: "<<empty>>"; }

div.bpel_compensate:before {
  content: "<<compensate>>"; }

div.bpel_compensateScope:before {
  content: "<<compensateScope>>"; }

div.bpel_empty:before {
  content: "<<empty>>"; }

div.bpel_exit:before {
  content: "<<exit>>"; }

div.bpel_extensionActivity:before {
  content: "<<extensionActivity>>"; }

div.bpel_invoke:before {
  content: "<<invoke>>"; }

div.bpel_receive:before {
  content: "<<receive>>"; }

div.bpel_reply:before {
  content: "<<reply>>"; }

div.bpel_rethrow:before {
  content: "<<rethrow>>"; }

div.bpel_throw:before {
  content: "<<throw>>"; }

div.bpel_validate:before {
  content: "<<validate>>"; }

div.bpel_wait:before {
  content: "<<wait>>"; }

div.bpel_structured_activity, div.bpel_eventHandlers, div.bpel_if, div.bpel_faultHandlers, div.bpel_forEach, div.bpel_catch, div.bpel_catchAll, div.bpel_flow, div.bpel_pick, div.bpel_onAlarm, div.bpel_onEvent, div.bpel_onMessage, div.bpel_process, div.bpel_repeatUntil, div.bpel_scope, div.bpel_sequence, div.bpel_while {
  overflow: hidden; }

div.bpel_eventHandlers:before {
  content: "<<eventHandlers>>"; }

div.bpel_if:before {
  content: "<<if>>"; }

div.bpel_faultHandlers:before {
  content: "<<faultHandlers>>"; }

div.bpel_forEach:before {
  content: "<<forEach>>"; }

div.bpel_catch:before {
  content: "<<catch>>"; }

div.bpel_catchAll:before {
  content: "<<catchAll>>"; }

div.bpel_flow:before {
  content: "<<flow>>"; }

div.bpel_pick:before {
  content: "<<pick>>"; }

div.bpel_onAlarm:before {
  content: "<<onAlarm>>"; }

div.bpel_onEvent:before {
  content: "<<onEvent>>"; }

div.bpel_onMessage:before {
  content: "<<onMessage>>"; }

div.bpel_process:before {
  content: "<<process>>"; }

div.bpel_repeatUntil:before {
  content: "<<repeatUntil>>"; }

div.bpel_scope:before {
  content: "<<scope>>"; }

div.bpel_sequence:before {
  content: "<<sequence>>"; }

div.bpel_while:before {
  content: "<<while>>"; }

/* contents of each activity */
div.bpel_name:before {
  content: "Name: "; }

div.bpel_name {
  text-overflow: ellipsis;
  display: inline-block;
  /* line below name, currently not used
      // this line does not work together with the above
      overflow: hidden;
  
      margin-left: -10px;
      padding-left: 20px;
  
      margin-right: -10px;
      padding-right: 20px;
  
      padding-bottom: 5px;
      border-bottom: 2px solid rgb(112, 152, 179);
  */ }

/* special handling for each type of activity */
div.bpel_process {
  /* scale to width of contents */
  display: inline-block; }

div.bpel_if {
  padding: 0px;
  padding-bottom: 10px; }

/* then / elseif / else */
div.bpel_if_child, div.bpel_if_then, div.bpel_if_elseif, div.bpel_if_else {
  /* center it within parent */
  margin-left: 10px;
  margin-right: 0px;
  /* 10px border */
  margin-top: 10px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  display: inline-block; }

div.bpel_if_then:before {
  content: "<<then>>"; }

div.bpel_if_elseif:before {
  content: "<<elseif>>"; }

div.bpel_if_else:before {
  content: "<<else>>"; }
